<%
  ################
  # Smile specific #784714: V4.0.0 : My page Time Entry queries
  # Smile specific : icon (span)
-%>
<h3><span class="icon icon-calendar"><%= l(:label_calendar) %></span></h3>

<%= render :partial => 'common/calendar', :locals => {:calendar => calendar } %>
