<%
  ################
  # Smile specific #784714: V4.0.0 : My page Time Entry queries
  # Smile specific : icon (span)
-%>
<h3><span class="icon icon-document"><%=l(:label_document_plural)%></span></h3>

<%= render :partial => 'documents/document', :collection => documents %>
