<%
  ################
  # Smile specific #784714: V4.0.0 : My page Time Entry queries
  # Smile specific : icon (span)
-%>
<h3><span class="icon icon-news"><%=l(:label_news_latest)%></span></h3>

<%= render :partial => 'news/news', :collection => news %>
